<!DOCTYPE html>
<html>
{include file="public/head"}
<body>
	<!-- 头部 -->
	{include file="public/top"}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			<!-- Page Sidebar -->
            {include file="public/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        {$postion}
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">{$title}</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" action="{:url('add')}" method="post">
                

                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">角色名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="" name="title" required="" type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">角色状态</label>
                            <div class="col-sm-6">
                                <label style="margin-top:5px; ">
                                    <input class="checkbox-slider toggle colored-blue" type="checkbox" checked="checked" name="status" value="1">
                                    <span class="text"></span>
                                </label>
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">配置权限</label>
                            <div class="col-sm-6">
                                <table class="table table-hover" style="border: 1px solid #ddd;">
                                    <tbody>
                                    {volist name="rules" id="vo"}
                                        <tr>
                                            <td>
                                                <label>
                                                    <?php echo str_repeat('&nbsp;',$vo['level']*12); ?>
                                                    <input dataid="id-{$vo.dataid}" type="checkbox" class="colored-blue checkbox-parent {if condition="$vo['level'] neq 0" } checkbox-child{/if} " name="rules[]" value="{$vo.id}">
                                                    <span {if condition="$vo['level'] eq 0"}style="font-weight: bold;font-size: 16px;"{/if} class="text">{$vo.title}</span>
                                                </label>
                                            </td>
                                        </tr>
                                   {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                     
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <button type="submit" class="btn btn-success">保存信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>


</body>
{include file="public/foot"}
<script type="text/javascript">
/* 权限配置 */
$(function () {
    //动态选择框，上下级选中状态变化
    //父级权限变化
    $('input.checkbox-parent').on('change', function () {
        var dataid = $(this).attr("dataid");
        //给子级权限追加选中状态
        $('input[dataid^=' + dataid + ']').prop('checked', $(this).is(':checked'));
    });
    //子级权限变化
    $('input.checkbox-child').on('change', function () {
        var dataid = $(this).attr("dataid");
        //获取父级权限
        dataid = dataid.substring(0, dataid.lastIndexOf("-"));
        var parent = $('input[dataid=' + dataid + ']');
        if ($(this).is(':checked')) {
            parent.prop('checked', true);//追加选中状态
            //循环到顶级
            while (dataid.lastIndexOf("-") != 2) {
                dataid = dataid.substring(0, dataid.lastIndexOf("-"));
                parent = $('input[dataid=' + dataid + ']');
                parent.prop('checked', true);//追加选中状态
            }
        } else {
            //父级
            if ($('input[dataid^=' + dataid + '-]:checked').length == 0) {
                parent.prop('checked', false);
                //循环到顶级
                while (dataid.lastIndexOf("-") != 2) {
                    dataid = dataid.substring(0, dataid.lastIndexOf("-"));
                    parent = $('input[dataid=' + dataid + ']');
                    if ($('input[dataid^=' + dataid + '-]:checked').length == 0) {
                        parent.prop('checked', false);
                    }
                }
            }
        }
    });
});
</script>

</html>