<!DOCTYPE html>
<html><head>
	    <meta charset="utf-8">
    <title>TTCMS</title>

    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
    <link href="__ADMIN__/style/bootstrap.css" rel="stylesheet">
    <link href="__ADMIN__/style/font-awesome.css" rel="stylesheet">

    <!--Beyond styles-->
    <link id="beyond-link" href="__ADMIN__/style/beyond.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- 头部 -->
     {include file="public/top"}
  <!-- /头部 -->

	
	<div class="main-container container-fluid">
		<div class="page-container">
			<!-- Page Sidebar -->
            {include file="public/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li class="active">控制面板</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
            <div class="col-md-12">
                            <div class="profile-container">
                                <div class="profile-header row">
                                    <div class="col-lg-2 col-md-4 col-sm-12 text-center">
                                        <img src="/{$Think.session.admin_info.avatar}" alt="" class="header-avatar">
                                    </div>
                                    <div class="col-lg-5 col-md-8 col-sm-12 profile-info">
                                        <div class="header-fullname">{$Think.session.admin_info.username}</div>
                                        <a href="#" class="btn btn-palegreen btn-sm  btn-follow">
                                            <i class="fa fa-check"></i>
                                            {$admin['auth_group'][0]['title']}
                                        </a>
                                        <div class="header-information">
                                            我是个人简介
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 profile-stats">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
                                                <div class="stats-value pink">284</div>
                                                <div class="stats-title">文章总数</div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
                                                <div class="stats-value pink">803</div>
                                                <div class="stats-title">图片总数</div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
                                                <div class="stats-value pink">1207</div>
                                                <div class="stats-title">点击总数</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                                <i class="glyphicon glyphicon-map-marker"></i>{$data['admin'][0]['address']}
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                                余额: <strong>$250</strong>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                                年龄: <strong>24</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-body">
                                    <div class="col-lg-12">
                                        <div class="tabbable">
                                            <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#overview">
                                                        网站信息
                                                    </a>
                                                </li>
                                                <li class="tab-red">
                                                    <a data-toggle="tab" href="#timeline">
                                                        消息管理
                                                    </a>
                                                </li>
                                                <li class="tab-palegreen">
                                                    <a data-toggle="tab" id="contacttab" href="#contacts">
                                                        最新文章
                                                    </a>
                                                </li>
                                                <li class="tab-yellow">
                                                    <a data-toggle="tab" href="#settings">
                                                        最新评论
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content tabs-flat">
                                                <!-- 网站信息 -->
                                                <div id="overview" class="tab-pane active">
                                                    <div class="row profile-overview">
                                                        <div class="col-md-6">

                                                            <!-- 左表 -->
                                                            <div class="col-xs-12 col-md-12">
                                                                <div class="well with-header with-footer">
                                                                    <div class="header bg-blue text-center">
                                                                        网站信息
                                                                    </div>
                                                                    <table class="table table-hover table-striped table-bordered">
                                                                        <thead class="bordered-blueberry">
                                                                            <tr>
                                                                                
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {volist name='data.site' id="vo" }
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">操作系统</td>
                                                                                <td align="left" style="width: 70%;">{$vo.os}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">运行环境</td>
                                                                                <td align="left" style="width: 70%;">{$vo.huanjing}</td>
                                                                            </tr>
                                                                             <tr>
                                                                                <td align="center" style="width: 30%;">当前主机名</td>
                                                                                <td align="left" style="width: 70%;">{$vo.pc}</td>
                                                                            </tr>
                                                                             <tr>
                                                                                <td align="center" style="width: 30%;">获取服务器语言</td>
                                                                                <td align="left" style="width: 70%;">{$vo.language}</td>
                                                                            </tr>
                                                                             <tr>
                                                                                <td align="center" style="width: 30%;">端口</td>
                                                                                <td align="left" style="width: 70%;">{$vo.port}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">PHP版本</td>
                                                                                <td align="left" style="width: 70%;">{$vo.php}</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">MYSQL版本</td>
                                                                                <td align="left" style="width: 70%;">{$vo.mysql}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">数据库大小</td>
                                                                                <td align="left" style="width: 70%;">{$vo.mysql_size}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">PHP运行方式</td>
                                                                                <td align="left" style="width: 70%;">{$vo.run}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">ThinkPHP版本</td>
                                                                                <td align="left" style="width: 70%;">{$vo.think}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">上传附件限制</td>
                                                                                <td align="left" style="width: 70%;">{$vo.upload}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">执行时间限制</td>
                                                                                <td align="left" style="width: 70%;">{$vo.gotime}</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">服务器时间</td>
                                                                                <td align="left" style="width: 70%;">{$vo.ostime}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">北京时间</td>
                                                                                <td align="left" style="width: 70%;">{$vo.bjtime}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">服务器域名/IP</td>
                                                                                <td align="left" style="width: 70%;">{$vo.os_do_ip}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">剩余空间</td>
                                                                                <td align="left" style="width: 70%;">{$vo.kongjian}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">register_globals</td>
                                                                                <td align="left" style="width: 70%;">{$vo.register_globals}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">magic_quotes_gpc</td>
                                                                                <td align="left" style="width: 70%;">{$vo.magic_quotes_gpc}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">magic_quotes_runtime</td>
                                                                                <td align="left" style="width: 70%;">{$vo.magic_quotes_runtime}</td>
                                                                            </tr>
                                                                            {/volist}
                                                                        </tbody>
                                                                    </table>

                                                                    <div class="footer">
                                                                        <code></code>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6">

                                                            <!-- 右表 -->
                                                            <div class="col-xs-12 col-md-12">
                                                                <div class="well with-header with-footer">
                                                                    <div class="header bg-blue text-center">
                                                                        管理员信息
                                                                    </div>
                                                                    <table class="table table-hover table-striped table-bordered">
                                                                        <thead class="bordered-blueberry">
                                                                            <tr>
                                                                                
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {volist name='data.admin' id="vo" }
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">管理员</td>
                                                                                <td align="left" style="width: 70%;">{$vo.username}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">最近登录时间</td>
                                                                                <td align="left" style="width: 70%;">{$vo.logintime}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">最近登录IP</td>
                                                                                <td align="left" style="width: 70%;">{$vo.loginip}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">登录地址</td>
                                                                                <td align="left" style="width: 70%;">{$vo.address}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">登陆次数</td>
                                                                                <td align="left" style="width: 70%;">{$vo.num}</td>
                                                                            </tr>
                                                                            {/volist}
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>

                                                            <!-- 右下表 -->
                                                            <div class="col-xs-12 col-md-12">
                                                                <div class="well with-header with-footer">
                                                                    <div class="header bg-blue text-center">
                                                                        开发者信息
                                                                    </div>
                                                                    <table class="table table-hover table-striped table-bordered">
                                                                        <thead class="bordered-blueberry">
                                                                            <tr>
                                                                                
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {volist name='data.developer' id="vo" }
                                                                            <tr>
                                                                                <td align="center" style="width: 30%;">{$vo.cnname}</td>
                                                                                <td align="left" style="width: 70%;">{$vo.value}</td>
                                                                            </tr>
                                                                            {/volist}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 消息管理 左侧-->
                                                <div id="timeline" class="tab-pane">
                                                    <ul class="timeline animated fadeInDown">
                                                        <li>
                                                            <!-- 时间 -->
                                                            <div class="timeline-datetime">
                                                                <span class="timeline-time">
                                                                    8:19
                                                                </span><span class="timeline-date">Today</span>
                                                            </div>
                                                            <!-- 图标 -->
                                                            <div class="timeline-badge blue">
                                                                <i class="fa fa-tag"></i>
                                                            </div>
                                                            <!-- 内容 -->
                                                            <div class="timeline-panel">
                                                                <div class="timeline-header bordered-bottom bordered-blue">
                                                                    <span class="timeline-title">
                                                                        标题
                                                                    </span>
                                                                    <!-- 消息右上角时间 -->
                                                                    <p class="timeline-datetime" style="display: block;">
                                                                        <small class="text-muted">
                                                                            <i class="glyphicon glyphicon-time">
                                                                            </i>
                                                                            <span class="timeline-date">Today</span>
                                                                            -
                                                                            <span class="timeline-time">8:19</span>
                                                                        </small>
                                                                    </p>
                                                                </div>
                                                                <div class="timeline-body">
                                                                    <p>内容简介</p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <!-- 消息管理 右侧-->
                                                        <li class="timeline-inverted">
                                                             <!-- 时间 -->
                                                            <div class="timeline-datetime">
                                                                <span class="timeline-time">
                                                                    3:10
                                                                </span><span class="timeline-date">Today</span>
                                                            </div>
                                                             <!-- 图标 -->
                                                            <div class="timeline-badge darkorange">
                                                                <i class="fa fa-map-marker font-120"></i>
                                                            </div>
                                                            <!-- 内容 -->
                                                            <div class="timeline-panel bordered-right-3 bordered-orange">
                                                                <div class="timeline-header bordered-bottom bordered-blue">
                                                                    <span class="timeline-title">
                                                                        标题
                                                                    </span>
                                                                    <!-- 消息右上角时间 -->
                                                                    <p class="timeline-datetime">
                                                                        <small class="text-muted">
                                                                            <i class="glyphicon glyphicon-time">
                                                                            </i>
                                                                            <span class="timeline-date">Today</span>
                                                                            -
                                                                            <span class="timeline-time">3:10</span>
                                                                        </small>
                                                                    </p>
                                                                </div>
                                                                <div class="timeline-body">
                                                                    <p>内容简介</p>
                                                                    <p>
                                                                        <i class="orange fa fa-exclamation"></i>内容简介 <span><a href="#" class="info">内容简介</a></span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="timeline-node">
                                                            <a class="btn btn-success">加载更多</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- 最新文章 -->
                                                <div id="contacts" class="tab-pane">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-12">
                                                            <div class="well with-header  with-footer">
                                                                <div class="header bg-blue">
                                                                    最新文章
                                                                </div>
                                                                <table class="table table-hover">
                                                                    <thead class="bordered-darkorange">
                                                                        <tr></tr>
                                                                        <tr></tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="left" style="width: 70%;">xxxxxxxxxxxxxx</td>
                                                                            <td align="center" style="width: 30%;">2018-11-2</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="width: 70%;">xxxxxxxxxxxxxx</td>
                                                                            <td align="center" style="width: 30%;">2018-11-2</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                                <div class="footer">
                                                                    <code>我是页脚</code>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 最新留言 -->
                                                <div id="settings" class="tab-pane">
                                                    <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                            <div class="well with-header  with-footer">
                                                                <div class="header bg-blue">
                                                                    最新留言
                                                                </div>
                                                                <table class="table table-hover">
                                                                    <thead class="bordered-darkorange">
                                                                        <tr></tr>
                                                                        <tr></tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="left" style="width: 70%;">xxxxxxxxxxxxxx</td>
                                                                            <td align="center" style="width: 30%;">2018-11-2</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="width: 70%;">xxxxxxxxxxxxxx</td>
                                                                            <td align="center" style="width: 30%;">2018-11-2</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                                <div class="footer">
                                                                    <code>我是页脚</code>
                                                                </div>
                                                            </div>

                                                    </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="__ADMIN__/style/jquery_002.js"></script>
    <script src="__ADMIN__/style/bootstrap.js"></script>
    <!--Beyond Scripts-->
    <script src="__ADMIN__/style/beyond.js"></script>

</body>
</html>