<!DOCTYPE html>
<html>
{include file="public/head"}
<body>
	<!-- 头部 -->
	{include file="public/top"}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			<!-- Page Sidebar -->
            {include file="public/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        {$postion}
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">{$title}</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" action="{:url('add')}" method="post">

                        <input type="hidden" name="tablename" value="{:input('tablename')}">
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">字段名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="只能用英文字母或数字" name="name"  type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">字段类型</label>
                            <div class="col-sm-6">
                                <select name='type'>
                                    <option value="char">(char)固定长度字符串</option>
                                    <option value="varchar">(varchar)不固定长度字符串</option>
                                    <option value="tinyint">(tinyint)更小整数</option>
                                    <option value="text">(text)大文本</option>
                                    <option value="int">(int)整数</option>
                                    <option value="float">(float)浮点数</option>
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">字段长度</label>
                            <div class="col-sm-3">
                                <input class="form-control" placeholder="0-255" name="length"  type="text">
                            </div>
                            <div class="col-sm-3">
                                
                            </div>
                            <p class="help-block col-sm-4 red"></p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">表单类型</label>
                            <div class="col-sm-6">
                                <select name='formtype'>
                                    <option value="1">单行文本</option>
                                    <option value="2">多行文本</option>
                                    <option value="3">单选按钮</option>
                                    <option value="4">复选按钮</option>
                                    <option value="5">下拉菜单</option>
                                    <option value="6">上传按钮</option>
                                    <option value="7">编辑器</option>
                                    <option value="8">时间</option>
                                    <option value="9">上传插件</option>
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">用于表单显示类型</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">是否为空</label>
                            <div class="col-sm-6">
                                <div style="float: left;padding-right: 20px;margin-top: 5px;">
                                    <label>
                                        <input name="isNull" value="1" type="radio">
                                        <span class="text">是</span>
                                    </label>
                                </div>
                                <div style="float: left;padding-right: 20px;margin-top: 5px;">
                                    <label>
                                        <input name="isNull" value="0" checked type="radio">
                                        <span class="text">否</span>
                                    </label>
                                </div>
                            </div>
                            <p class="help-block col-sm-4 red"></p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">字段注释</label>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="发布内容时显示的提示文字" name="comment"  type="text">
                            </div>
                            <p class="help-block col-sm-4 red">用于表单显示名称</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">默认值</label>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="" name="default"  type="text">
                            </div>
                            <p class="help-block col-sm-4 red"></p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <button type="submit" class="btn btn-success">保存信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>


</body>
{include file="public/foot"}
</html>