<!DOCTYPE html>
<html>
{include file="public/head"}
<body>
	<!-- 头部 -->
	{include file="public/top"}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			<!-- Page Sidebar -->
            {include file="public/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        {$postion}
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">{$title}</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" action="{:url('edit')}" method="post">
                        <input type="hidden" name="id" value="{$field.id}">
                        <input type="hidden" name="model_id" value="{$field.model_id}">
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">字段名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="只能用英文字母或数字" name="enname"  type="text" value="{$field.enname}">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">表单名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="发布内容时显示的提示文字" name="cnname"  type="text" value="{$field.cnname}">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">表单类型</label>
                            <div class="col-sm-6">
                                <select name='formtype'>
                                    <option value="1" {if condition="$field.formtype eq 1"}selected="selected"{/if}>单行文本</option>
                                    <option value="2" {if condition="$field.formtype eq 2"}selected="selected"{/if}>多行文本</option>
                                    <option value="3" {if condition="$field.formtype eq 3"}selected="selected"{/if}>单选按钮</option>
                                    <option value="4" {if condition="$field.formtype eq 4"}selected="selected"{/if}>复选按钮</option>
                                    <option value="5" {if condition="$field.formtype eq 5"}selected="selected"{/if}>下拉菜单</option>
                                    <option value="6" {if condition="$field.formtype eq 6"}selected="selected"{/if}>上传按钮</option>
                                    <option value="7" {if condition="$field.formtype eq 7"}selected="selected"{/if}>编辑器</option>
                                    <option value="8" {if condition="$field.formtype eq 8"}selected="selected"{/if}>时间</option>
                                    <option value="8" {if condition="$field.formtype eq 9"}selected="selected"{/if}>上传插件</option>
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">表单提示</label>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="" name="tips"  type="text" value="{$field.tips}">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">可选值</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" rows="6" name="values" placeholder="多个值以（，）分割，如1小时,2小时,3小时，只有单选框，多选框，下拉框可填写">{$field.values}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <button type="submit" class="btn btn-success">保存信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>



</body>
{include file="public/foot"}
</html>