<!DOCTYPE html>
<html>
{include file="public/head"}
<body>
	<!-- 头部 -->
    {include file="public/top"}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			<!-- Page Sidebar -->
            {include file="public/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        {$postion}
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<button type="button" tooltip="添加" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('add',array('model_id'=>input('model_id')))}'"> <i class="fa fa-plus"></i> 添加
</button>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <form action="" method="post"> 
                    <input type="hidden" name="model_id" value="{:input('model_id')}">
                    <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr>
                                <th class="text-center">排序</th>
                                <th class="text-center">ID</th>
                                <th class="text-center">所属模型</th>
                                <th class="text-center">表单提示</th>
                                <th class="text-center">字段名</th>
                                <th class="text-center">表单类型</th>
                                <th class="text-center">可选值</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {volist name="fields" id="vo"}
                            <tr>
                                <td align="center" style="width: 5%;">
                                    <input type="text" style="width: 50%;text-align: center;" name="{$vo.id}" value="{$vo.sort}">
                                </td>
                                <td align="center" style="width: 5%;">{$vo.id}</td>
                                <td align="center" style="width: 10%;">{$vo.model.name}</td>
                                <td align="center" style="width: 15%;">{$vo.cnname}</td>
                                <td align="center" style="width: 10%;">{$vo.enname}</td>
                                <td align="center" style="width: 10%;">{$vo.formtype|levelStyle=###,['单行文本','多行文本','单选按钮','复选按钮','下拉菜单','上传按钮','编辑器','时间','上传插件']}</td>
                                <td align="left" style="width: 25%;">
                                    {if condition="$vo.values eq false"}无可选值{else /}{$vo.values}{/if}
                                </td>
                                <td align="center" style="width: 20%;">
                                    <a href="{:url('edit',array('id'=>$vo['id'],'model_id'=>$vo['model_id']))}" class="btn btn-primary btn-sm shiny">
                                        <i class="fa fa-edit"></i> 编辑
                                    </a>
                                    <a href="#" onClick="warning('确实要删除吗', '{:url('del',array('id'=>$vo['id']))}')" class="btn btn-danger btn-sm shiny">
                                        <i class="fa fa-trash-o"></i> 删除
                                    </a>
                                </td>
                            </tr>
                        {/volist}
                        <tr>
                            <td style="text-align: center;">
                                <input type="submit" class="btn btn-primary btn-sm shiny" name="" value="排序">
                            </td>
                            <td colspan="7"></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                </div>
                <div style="padding-top:10px;text-align: center;">
                   
                </div>
            </div>
        </div>
    </div>
</div>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>


</body>
{include file="public/foot"}
</html>