<!DOCTYPE html>
<html>
{include file="public/head"}
<body>
    <!-- 头部 -->
    {include file="public/top"}
    <!-- /头部 -->
    
    <div class="main-container container-fluid">
        <div class="page-container">
            <!-- Page Sidebar -->
            {include file="public/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        {$postion}
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            {volist name="res" id="vo"}
                            <li class="{if condition='$key eq 0'}active{/if}">
                                <a data-toggle="tab" href="#{$vo.enname}">
                                    {$vo.cnname}
                                </a>
                            </li>
                            {/volist}
                        </ul>

                        <div class="tab-content">
                            {volist name="res" id="vo"}
                            <div id="{$vo.enname}" class="tab-pane {if condition='$key eq 0'}active{/if}">
                                <form action="" method="post">
                                    <table class="table table-bordered table-hover">
                                        <thead class="">
                                            <tr>
                                                <th class="text-center">配置名称</th>
                                                <th class="text-center">配置值</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="vo.confs" id="v"}
                                            <tr>
                                                <td align="center" style="width: 20%;">{$v.cnname}</td>
                                                <td align="left" style="width: 80%;">
                                                {$v.type|formStyle=###,$v}
                                                </td>
                                            </tr>
                                        {/volist} 
                                          <tr >
                                                <td  colspan='2' style="text-align: center;">
                                                    <input type="submit" style="width: 500px;height: 50px;font-size: 20px;" class="btn btn-primary btn-sm shiny" name="" value="提交修改">
                                                </td>
                                            </tr>                        
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            {/volist}
                            
                        </div>
                    </div>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>  
    </div>





</body>
{include file="public/foot"}
</html>